body {font: 13pt Arial, Helvetica, sans-serif;}
.container {
margin: 0 auto;
background-color: green;
}
.header {
font-size: 38px; 
text-align: center; 
padding: 5px; 
background: orange; 
color: grey; 
}
.sidebar {
width: 200px; 
padding: 0 10px; 
float: right; 
background-color: blue;
}
a {color: orange;}
.content {
padding: 10px; 
background: none;
}
h1 {
 font-size: 18px; 
 color: red;
}
.footer {
background: orange;
color: grey;
padding: 5px;
clear: right;
}
 